<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href = "index" class = "mr-5 hover:text-gray-900">Landing Page</a>
        {{!-- <a href = "#" class ="mr-5 hover:text-gray-900">Dashboard</a> --}}
        <a href = "aboutus" class ="mr-5 hover:text-gray-900">About Us</a>
        <a href = "features" class ="mr-5 hover:text-gray-900">Features</a>
      </nav>
    </div>
  </header>

  
<div class="lg:w-2/3 mx-auto">
  <div class="flex flex-wrap w-full bg-gray-100 py-10 px-10 relative mb-4 rounded-lg">
    <div class="text-center relative z-10 w-full content-center">
      
      <div class="text-2xl bold text-center "> <h1> Habit Creator </h1></div>
      <div><br></div>
        <h2> A couple of habits I want to form are: </h2>
        <ul array key="habs" sortable class = "text-blue-600">
          {{#for hab in habs}}
            <li object key:text="@innerText" edit:text>
              {{default hab.text "[New habit]"}}
            </li>
          {{/for}}
        </ul>
        <button new:hab class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded" >+ Habit</button>
        


        <div><br></div>
        <h2> These habits are important to me because</h2>
        <p 
                object 
                key:profile-important="@innerText" 
                edit:profile-important:without-remove
                class = "text-blue-600"
                default:profile-important="[They will allow me to...]"
              >{{default profileImportant "[They will allow me to...]"}}
              
        </p>
        <br>
        <h2> To get started I can</h2>
        <p 
                object 
                key:profile-stepone="@innerText" 
                edit:profile-stepone:without-remove
                class = "text-blue-600"
                default:profile-stepone="[Start by doing...]"
              >{{default profileStepone "[Start by doing...]"}}
              
        </p>

        </p>


    </div>
  </div>
</div>


</div>
   
    <div class="lg:w-2/3 mx-auto">
      <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4 rounded-lg">
        <div class="text-center relative z-10 w-full">
          <h1 class="text-2xl bold text-center "> Habit Tracker</h1>
          <h2 class="text-s bold text-center mb-5"> Plan your days to help you build your habit</h2>
          {{!-- <br> --}}
            <center>
              <div object key:top-info="@innerText" edit:top-info:without-remove >
                {{topInfo}}
              </div>

              <div array key="days" sortable="days" class="grid grid-cols-4 gap-4">
                {{#for day in days}}
                  <div object key:day-heading="@search" default:day-heading="A Project" class="border-4 p-5 pl-0 pr-0 rounded-lg bg-slate-400">

                    <p class = "font-medium" target:day-heading="@innerText" edit:day-heading>
                      {{default day.dayHeading "New Day"}}
                    </p>

                    <div key="cards" array sortable="cards">
                      {{#for card in day.cards}}
                        <div object key:card-text="@search" edit:card-text >
                          <p target:card-text="@innerText">
                            {{default card.cardText "New Habit"}}
                            <input type="checkbox">
                          </p>
                        </div>
                      
                      {{/for}}
                    </div>

                    <button new:card class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-1 px-3 border-b-4 border-blue-700 hover:border-blue-500 rounded z-20 mt-5" > + Habit </button>
                  </div>
                {{/for}}
              </div>
              <div>
                  <br><button new:day class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 border-b-4 border-green-700 hover:border-green-500 rounded"> + Day </button>
              </div>
            </center>
            <div><br><br></div>
            <h2 class = "text-gray-600"> Tip:</h2>
            <p class = "text-gray-600"> Rearrange the days to any order by clicking and dragging them. You may also move habits between days. </p>
            <a href = "features" class ="mr-5 text-blue-500 hover:text-blue-800">Click here for more usefull tips</a>
        </div>
      </div>
    </div>
</section>





<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <p> CPSC 349 - Group 23</span></p>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Made with Remake and Tailwind CSS</p>
  </div>
</footer>